/* .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  
  }
  
  .container{
    margin: 10px auto;
  
  }
  
  .formTag{
    font-size: 24px;
    width: 800px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    
  }
  
  .authBox{
    display: flex;
    width: 800px;
    align-content: center;
    margin: 10px auto;
  }
  
  .submitBtn{
    font-size: 24px;
  }
  label{
    margin-top: 10px;
  }
  input{
    font-size: 25px;
  }
  a{
    margin: 10px 10px;
    font-size: 18px;
  }
  
  
  .App-link {
    color: #61dafb;
  }
   */
  .shadow{
    width: 750px;
  }
  .boarder{
    width: 750px;
  }
  